@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
  box-sizing: border-box;
  transition: all ease-in-out 200ms;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 100em;
  height: auto;
  margin: 0 auto;
}

/*typography*/

h1 {
  font-weight: 300;
  font-size: 2rem;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 1.5em;
  font-weight: 900;
}

.title span {
  font-weight: 300;
  display: block;
  font-size: .8em;
}

@media (min-width:65rem) {
  .title {
    font-size: 2.5rem;
  }
}

/* buttons*/

.button {
  display: inline-block;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .35em 1em;
}

.button-small {
  font-size: .95em;
  font-weight: 700;
}

.button-accent {
  color: #88e03c;
  border-color: #88e03c;
}

.button-accent:hover,
.button-accent:focus {
  background: #88e03c;
  color: #232323;
}

/* header*/
header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .75em;
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}

@media (min-width:65rem) {
  .logo {
    float: left;
    padding-left: 10em;
  }
  
  nav {
    float: right;
    padding-right: 10em
  }
  
  nav li {
    font-size: 2em; 
    margin: .125em;
  }
}

/*home-hero*/
.home-hero {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: #FFF;
}

@media (min-width: 60rem) {
  .home-hero {
    padding-top 35vh;
  }
}

/* hero-home*/
.home-about-textbox {
  background-color: #232323;
  padding: 3em;
  width: 100vw;
  outline: 2px solid #88e03c;
  outline-offset: -3em;
  color: #FFF;
  position: relative;
  width: 45%;
  top: -3em;
  box-shadow: 0 0 4em 0 #232323;
}

.home-about-textbox h1 {
  color: #88e03c;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -.2em;
  background: #232323;
  padding: .1em;
}

.home-about {
  background-image: url(../img/startup-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10em;
}

@media (max-width: 80rem) {
  .home-about-textbox h1 {
    font-size: 1.25em;
    padding: .15em;
    top: 0em;
  }
  
  .home-about-textbox {
    width: 100%;
    outline-offset: -2em;
  }
}

/* portfolio*/

.portfolio {
  margin: 3em 0;
}

.portfolio-item {
  margin: 0;
  position: relative;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-description {
  position: absolute;
  z-index: 100;
  bottom: 2em;
  left: 3em;
  right: 3em;
  color: white;
  font-weight: 700;
  background: rgba(0, 0, 0, .50);
  padding-bottom: .75em;
  padding-top: 0em;
}

@media (min-width: 35rem) {
  .portfolio-item {
    width: 50%;
    float: left;
  }
  
  .portfolio-description {
    bottom: 1em;
    left: 3.5em;
    right: 3.5em;
    font-size: .85em;
  }
}

@media (min-width: 70rem) {
  .portfolio-item {
    width: 33.3333333334%;
    overflow: hidden;
  }
  
  .portfolio-description {
    transform: translateY(150%);
  }
  
  .portfolio-item:hover .portfolio-description {
    transform: translateY(0%);
  }
}

@media (min-width: 80rem) {
  .portfolio-item {
    width: 25%;
  }
}

/* footer*/
footer {
  clear: both;
  padding-top: 1em;
}

footer ul {
  text-align: left;
}
